$orange-base: #F36C21;
$orange-dark: #E05507;

$black-base: #292C2E;

$red-base: #F73B2F;

$grey-light: #E3E5E6;
$grey-base: #CDCFD0;
$grey-dark: #B4B6B8;
$grey-extra-dark: #7A7E80;

$rose-light: #FFE4D6;
